<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>String</title>
</head>
<body>
<div style="height: 200px; width: 100%; background-color: aliceblue; text-align: center;">
    <div>
        <input type="button" value="新增" id="button">
    </div>
    <table style="border: 1px solid aqua; width: 100%; text-align: center;">
        <thead>
        <tr>
            <th style="width: 100px;">用户ID</th>
            <th style="width: 100px;">用户编码</th>
            <th style="width: 100px;">用户名称</th>
            <th style="width: 100px;">用户密码</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.code}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="background: darkslateblue; box-shadow: 0 0 1px #0a0888; height: 50px; width: 100%; text-align: center;">
    <input type="button" value="新增" style="height: 100%; font-size: 16px;" id="new">
    <input type="button" value="编辑" style="height: 100%; font-size: 16px;">
</div>
<div style="background-color: aliceblue; width: 100%;">
    <form>
        <table>
            <tbody>
            <tr>
                <td>编码</td>
                <td><input type="text" maxlength="10" name="codeNamw" placeholder="请输入编码"></td>
            </tr>
            <tr>
                <td>名称</td>
                <td><input type="text" maxlength="10" placeholder="请输入编码"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" maxlength="10" name="password" placeholder="请输入编码"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div style="background-color: lemonchiffon; height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: 1; opacity: 0.5; display: none;"><!--遮罩层--></div>
</body>
</html>
<script type="text/javascript">

    document.getElementsByName('codeNamw')[0].addEventListener('click', myfunc);
    function myfunc(){
        alert('ok')
    }

    var t = document.getElementsByName('password');
    for(var i = 0; i < t.length; i++) {
        t[i].onclick = function (ev) {
            alert('pass');
        }
    }


    document.getElementById('new').onclick = function (e) {
        debugger;
        var a = this;
        var b = e;
    };

    /*document.getElementsByName('password').forEach(function (value) {
       debugger;
       this.width = '200px';
       this.onclick = function() {
           debugger;
           alert(1);
       }
       alert(value);
       alert(this.value);
    });*/

    function $(id) {
        var c = id.charAt(0);
        if('#' === c) {
            return document.getElementById(id.replace('#', ''));
        }
    }
    window.onload = function (ev) {
        $('#button').onclick = function () {
            debugger;
            alert(1);
        }
    }


</script>