<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>CORE</title>
    <script src="/js/core.js"></script>
</head>
<body>
<div>
    <div style="background-color: antiquewhite; box-shadow: 0 0 1px black; float: left; height: 1000px; width: 20%;">
        <ul th:each="entity: ${menuList}">
            <li th:name="${entity.id}" th:onclick="|javascript:main_(this)|" th:text="${entity.name}" style="cursor: pointer;"></li>
        </ul>
    </div>
    <div style="background-color: aqua; box-shadow: 0 0 1px black; float: left; height: 50px; width: 80%;">
        <input type="button" value="新增" style="height: 50px; font-size: 16px;" id="new">
        <input type="button" value="编辑" style="height: 50px; font-size: 16px;">
        <input type="button" value="保存" class="submit" style="height: 50px; font-size: 16px;">
        <form action="/logout" method="post" style="display: inline; float: right;"><input type="submit" value="退出" style="height: 50px; font-size: 16px;"></form>
    </div>
    <div id="navigation" style="background-color: ghostwhite; box-shadow: 0 0 1px black; float: left; height: 50px; width: 80%;">
        <span>HOME</span>
    </div>
    <div id="main-content" style="background-color: burlywood; box-shadow: 0 0 1px black; float: left; height: 900px; width: 80%;">
        <div>
            HOME
        </div>
    </div>
</div>
<div id="mask" style="background-color: lemonchiffon; height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: 1; opacity: 0.5; display: none;">

</div>
</body>
</html>
<script type="text/javascript">

    var xhr;
    if (window.XMLHttpRequest) {
        xhr = new XMLHttpRequest();
    } else {
        xhr = new ActiveXObject("Microsoft.XMLHTTP");
    }


    window.onload = function (ev) {

        var Tags = document.getElementsByTagName('*');
        for(var i = 0; i < Tags.length; i ++) {
            if(Tags[i].name === 'password') {
                Tags[i].addEventListener('click', func);
            }
        }

        function func() {
            //alert('ok')
        }

        $('+name').forEach(function(o) {
            o.onclick = function (e) {
                debugger;

                var request = new XMLHttpRequest();
                request.open("GET", "/user/core", true);
                request.send();
                request.onreadystatechange = function () {
                    if (request.readyState === 4) {
                        if (request.status === 200) {
                            return request.responseText;
                        } else {
                            return request.status;
                        }
                    } else {

                    }
                };
                //alert(request.responseText);
            }
        });


    };

    function main_(o) {
        openMask();
        var v = o.getAttribute('name');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/user/list', true);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    $('#main-content').innerHTML = xhr.responseText;
                    $('#navigation').innerHTML += '<span>用户管理</span>';
                } else {

                }
                closeMask();
            }
        };
    }

    function openMask() {
        $('#mask').style.display = 'block';
    }
    function closeMask() {
        $('#mask').style.display = 'none';
    }



</script>