<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.w.core.dao.MenuDao">
    <resultMap id="menu" type="com.w.core.model.Menu" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
    </resultMap>

    <select id="get" resultMap="menu" parameterType="java.lang.String">
        <![CDATA[
        SELECT T.ID, T.CODE, T.NAME, T.URL FROM MENU_ T
        WHERE T.ID = #{id, jdbcType=VARCHAR} OR T.CODE = #{id, jdbcType=VARCHAR}
        ]]>
    </select>

    <select id="select" resultMap="menu" parameterType="com.w.core.model.Menu">
        <![CDATA[ SELECT T.ID, T.CODE, T.NAME, T.URL FROM MENU_ T WHERE 1 = 1 ]]>
        <if test="code != null"><![CDATA[ AND T.CODE = #{CODE} ]]></if>
    </select>

    <insert id="insert" parameterType="com.w.core.model.Menu" >
        <![CDATA[ insert into menu_ (id, code, name, url)
        values (#{id, jdbcType=VARCHAR}, #{code, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}) ]]>
    </insert>

    <update id="update" parameterType="com.w.core.model.Menu" >
        update menu_ t
        <set>
            <if test="code != null">
                t.code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                t.name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                t.url = #{url, jdbcType=VARCHAR},
            </if>
        </set>
        where t.id = #{id, jdbcType=VARCHAR}
    </update>

    <update id="updateAll" parameterType="com.w.core.model.Menu" >
        update menu_ t
        set t.code = #{code, jdbcType=VARCHAR},
            t.name = #{name, jdbcType=VARCHAR},
            t.url = #{url, jdbcType=VARCHAR}
        where t.id = #{id, jdbcType=VARCHAR}
    </update>
</mapper>